# exclude compiled binaries
bin/

# exclude data from source control by default
/data/external
/data/interim
/data/processed
/data/raw

/references

# exclude external models from source control
/src/external/
.DS_Store
